<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<form action="/ricerca" method="GET">
    <input type="text" name="nome">
    <button type="submit">Cerca</button>
</form>
<body>
    <h5>Scegli la Categoria per le Offerte</h5>
    <table>
        <tr th:each="categoria : ${categorie}" >
            <td> <a th:href="@{/offerte(id=${categoria.id})}"  th:text="${categoria.nome}"></a> </td>
        </tr>
    </table>

    <h4>Prodotti in evidenza</h4>
    <table>
        <tr th:each="prodotto: ${prodotti}" th:if="${prodotto.id} < 5 and ${prodotto.sottocategoria.statoOfferta == true}">
            <td><img th:src="@{${prodotto.immagine == null ? 'markerImage.png' : prodotto.immagine}}" ></td>
            <td th:text="${prodotto.nome}"></td>
            <td th:text="${#numbers.formatDecimal(prodotto.prezzo-(prodotto.prezzo*prodotto.sottocategoria.valoreOfferta.valore/100), 0, 'POINT', 2, 'COMMA')}"></td>
            <td th:text="${prodotto.descrizione}"></td>
        </tr>
    </table>
    <a th:href="@{/offerteinarrivo}">Offerte in arrivo</a>
</body>
</html>