<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAITA Supermercato</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap" rel="stylesheet">
    <!--Link di Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet" />

    <style>
        body {
            overflow-x: hidden;
            font-family: "Barlow", sans-serif !important;
            color: black;
        }
        .navbar{
         background: linear-gradient(to right, #8f0000, #cc0000, #e60000, #FC5630);
         }

        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(100%);
        }

        /* Modifiche per rendere i caroselli lunghi e stretti */
        .carousel-item img {
            height: 300px;
            /* altezza delle immagini */
            width: auto;
            /* larghezza automatica per mantenere l'aspetto originale */
        }

        /* Aggiunta di cornice e stile al carosello */
        .carousel {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
        }
        .footer {
           background: linear-gradient(to right, #FC5630, #e60000, #cc0000, #8f0000);
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg container-fluid">
    <!-- navbar: classe per i menù di navigazione -->
    <!-- navbar-expand-lg: definisco il breakpoint ove voglio che il menù collassi in un button/dropdown -->
    <!-- Non uso fixed-top: menù fissato in alto allo scorrimento della pagina -->
    <a class="navbar-brand" href="#"><img src="img/jaitasupermercati.png" alt="Supermercato JAITA 111" /></a>

    <!-- navbar-brand individua il titolo o il logo del sito -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mia_nav">
        <span class="navbar-toggler-icon"></span> <!-- pulsantino con le tre lineette in orizzontale -->
    </button>
    <div class="collapse navbar-collapse" id="mia_nav">
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="mia_nav1">
        <!-- collapse: si collega col data-bs-toggle del button -->
        <!-- navbar-collapse: si collega al contesto della navbar -->
        <!-- justify-content-end: posiziona il contenuto del div a destra -->
        <ul class="navbar-nav">

            <li class="navbar-item"><a class="nav-link" th:href="@{/}">Home</a></li>
            <li class="navbar-item"><a class="nav-link" th:href="@{/offerte}">Offerte</a></li>
            <li class="navbar-item"><a class="nav-link" th:href="@{/offerteinarrivo}">In Arrivo</a></li>
            <li class="navbar-item"><a class="nav-link" th:href="@{/adminprodotti}">Area Amministrativa</a></li>
            <li class="navbar-item"><a class="nav-link" th:href="@{/loginadmin}">Login</a></li>

        </ul>
    </div>
</nav>
<div class="row" style="object-fit: cover;">
    <a th:href="@{/offerte}"><img th:src="@{/img/Bannerinarrivo.png}" class="img-fluid" th:style="'min-width: 100%;'"></a>
</div>
<br />

<h3 class="mt-5" th:if="${offerte.isEmpty()}" th:style="'text-align:center;'">Non ci sono offerte in arrivo!</h3>

<article class="container-fluid" th:style="'min-height: 100vh;'">
    <div class="row">
        <div class="col-md-4" th:each="offerta : ${offerte}">
            <div class="carousel">
                <h4 style="text-align: center;" th:text="${offerta.sottocategoria.marca}">Marca del Prodotto</h4>
                <p style="text-align: center;">Offerte disponibili dal giorno <span th:text="${#temporals.format(offerta.dataInizio, 'dd/MM/yyyy')}"></span> a <span th:text="${#temporals.format(offerta.dataFine, 'dd/MM/yyyy')}"></span></p>
                <div th:id="'carousel' + ${offerta.id}" class="carousel slide bg-white">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:if="${prodotti.size() > 0}">
                            <div class="container d-flex justify-content-center" style="height: 300px; overflow: hidden;">
                                <img th:src="${prodotti[0].immagine == null ? 'img/markerImage.png' : prodotti[0].immagine}" class="d-block mx-auto img-fluid" style="object-fit: cover; height: 100%;" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item" th:each="prodotto, iterStat : ${prodotti}" th:if="${prodotto.sottocategoria.id == offerta.sottocategoria.id and iterStat.index > 0}">
                            <div class="container d-flex justify-content-center" style="height: 300px; overflow: hidden;">
                                <img th:src="${prodotto.immagine == null ? 'img/markerImage.png' : prodotto.immagine}" class="d-block mx-auto img-fluid" style="object-fit: cover; height: 100%;" alt="...">
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" th:data-bs-target="'#carousel' + ${offerta.id}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel' + ${offerta.id}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</article>
<br />
<footer class="footer container-fluid">
    <div class="container overflow-hidden">
        <div class="row gy-3 gy-md-5 gy-xl-0 align-items-sm-center">
            <div class="col-xs-12 col-sm-6 col-xl-3 order-0 order-xl-0">
            </div>
            <div class="col-xs-12 col-xl-6 order-2 order-xl-1">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link link-secondary px-2 px-md-3" href="#!">Numero Assistenza: 0818993839</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary px-2 px-md-3" href="#!">Partita IVA: P.IVA123456789</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
