<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Offerte</title>
</head>
<body>
<h3 th:text="'Offerte ' + ${categoria.nome}"></h3>
<h2 th:if="${sottocategorie.isEmpty()}">Non ci sono offerte</h2>
    <table th:each="sottocategoria : ${sottocategorie}">
        <tr>
            <td th:text="${sottocategoria.marca}"></td>
        </tr>
        <tr>
            <td>Prodotto</td>
            <td>Prezzo</td>
            <td>Descrizione</td>
        </tr>
        <tr th:each="prodotto : ${prodotti}" th:if="${prodotto.sottocategoria.id == sottocategoria.id}">
            <td><img th:src="@{${prodotto.immagine == null ? 'markerImage.png' : prodotto.immagine}}" ></td>
            <td th:text="${prodotto.nome}"></td>
            <td th:text="${#numbers.formatDecimal(prodotto.prezzo-(prodotto.prezzo*prodotto.sottocategoria.valoreOfferta.valore/100), 0, 'POINT', 2, 'COMMA')}"></td>
            <td th:text="${prodotto.descrizione}"></td>
        </tr>
    </table>
</body>
</html>